/* For all fonts in the page */

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0; 
}
.textcolor{
    color:#FD6E0A;
}


/* header and nav design */

.navtitle{

    font-size: 45px;
    font-weight: 800;
    margin-top: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:20px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
    
}
nav ul{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}
/* button design */
.btn{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 10px;
}

/* Banner Design */
.banner{
    display: flex;
    align-items: center;
    margin:0 200px;
}
.hi{
    font-weight: 500;
    font-size: 35px;

}
.name{
    font-weight:bolder;
    font-size: 55px;
    margin-bottom: 10px;
    
}
.intro{
    color:rgb(146, 144, 144);
    margin-bottom: 40px;
}
.header{
    background-color: #fff8f3;
    background-image: url('images/header_bg.png'),url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size:700px,70px;
    
}
.imgset{
    padding-left: 200px;
}

/* Main section design */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About Section design */

.section{
    margin-top: 130px;
    background: #fff8f3;
    border-radius: 20px;
    padding: 130px 150px;
    text-align: center;

}
.sectitle{
    text-align: center;
    margin-bottom: 30px;
    font-size:40px;
    font-weight: 700;

}
.secintro{
    text-align: center;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
.acontainer{
    display: flex;
    justify-content: space-around;
}
.afield{
    font-size: 20px;
    color: #757575;

}
.adescription{
    font-weight: 700;
    font-size: 20px;
    color: #474747;

}
.ainfo{
    margin-top: 50px;
}

/* What i do design */
.widsec{
    margin-top: 130px;
    

}
.widtitle{
    text-align: center;
    margin-bottom: 100px;
    font-size:40px;
    font-weight: 700;
}
.skillscontainer{
    display: flex;
    gap: 24px;
}
.skill{
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(0,0,0,0.06);
    border-radius: 10px;
    padding: 30px;
}
img{
    padding-left: 70px;
}
.skilltitle{
    font-size: 20px;
    font-weight: 700;
    margin-top:  30px;
    margin-bottom: 20px;
    text-align: center;
}
.skilldescription{
    color: #757575;
    margin: auto;
    text-align:center;
}

/* Resume design */
.rsec{
    margin-top: 130px;
    background: #fff8f3;
    border-radius: 20px;
    padding: 130px 150px;
}
.rtitle{
    text-align: center;
    margin-bottom: 50px;
    font-size:40px;
    font-weight: 700;
    margin-top: 5px;
}
.rcontainer{
    display: flex;
    gap: 400px;
}
.rctitle{
    margin-bottom: 20px;
}
.ridescription{
    color: #757575;
    margin-bottom: 5px;
}
.subtitle{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.riitem{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;

}
.ritem{
    margin-top: 30px;
    margin-bottom: 30px;
}
.cvbtn{
    text-align: center;
    margin-top: 50px;
}

/* Contact design */

.contact .sectit{
    text-align: left;
    margin-bottom: 20px;

}
.contact{
    display: flex;
    gap: 100px;
    background: #fff8f3;
    padding: 100px 100px;
    margin-top: 50px;
}
.btn2{
    font-weight: 700;
    color: white;

    border: 0;
    padding: 20px 40px;

    background-color: #FD6E0A;
    border-radius: 10px;
}
.contact input[type="text"] input[type="email"],textarea{
    margin-bottom: 50px;
    border: 0;
    width: 100%;
    padding:18px 30px;
}
.condes{
    margin-bottom: 30px;
}